.hero {
  background-color: rgb(13, 124, 233);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.hero-cont {
  flex: 0.4;
  z-index: 6;
}

.hero-cont h1 {
  font-size: 60px;
  color: #fff;
  max-width: 300px;
}

.hero-cont p {
  color: #fff;
  line-height: 30px;
  /* letter-spacing: 1px; */
  margin-left: 30px;
  position: relative;
  max-width: 400px;
  margin-bottom: 50px;
}

.hero-cont p::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: black;
  line-height: 20px;
  color: black;
  display: inline-block;
  position: absolute;
  transform: translateX(-30px);
  top: 12px;
}

.hero-img {
  flex: 0.6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-300px) scale(1.2);
}

.hero-cont h1::before {
  content: "Hello";
  font-size: 9px;
  position: absolute;
  transform: rotate(-45deg) translate(-5px, -20px);
  color: #fcda69;
  letter-spacing: 0.6px;
}

.hexagon-mine {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;

  justify-content: center;
}
.hexagon-mine-cont {
  width: 300px;
  height: 200px;
  background-color: #fcda69;
}

.hex-img {
  position: absolute;
  transform: translate(0px, -30px);
  height: 400px;
  overflow: hidden;
  /* position: absolute; */
  top: 0;
}

.social-media {
  position: fixed;
  left: 0px;
  bottom: 0;
  /* transform: translate(-25%, -25%); */
  height: 60vh;
  z-index: 7;
}

.social-media .link {
  width: 40px;
  height: 40px;
  background-color: #fcda69;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 1px solid #ffcc23;
  box-shadow: 5px 3px 12px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 800px) {
  .hero {
    background-color: rgb(13, 124, 233);
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
  }

  .hero-cont {
    flex: 0.4;
  }

  .hero-cont h1 {
    font-size: 60px;
    color: #fff;
    max-width: 300px;
  }

  .hero-cont p {
    color: #fff;
    line-height: 30px;
    /* letter-spacing: 1px; */
    margin-left: 30px;
    position: relative;
    max-width: 400px;
    margin-bottom: 50px;
  }

  .hero-cont p::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: black;
    line-height: 20px;
    color: black;
    display: inline-block;
    position: absolute;
    transform: translateX(-30px);
    top: 12px;
  }

  .hero-img {
    flex: 0.6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100px) scale(1.2);
  }

  .hero-cont h1::before {
    content: "Hello";
    font-size: 9px;
    position: absolute;
    transform: rotate(-45deg) translate(-5px, -20px);
    color: #fcda69;
    letter-spacing: 0.6px;
  }

  .hexagon-mine {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    justify-content: center;
  }
  .hexagon-mine-cont {
    width: 300px;
    height: 200px;
    background-color: #fcda69;
  }

  .hex-img {
    position: absolute;
    transform: translate(0px, -30px);
    height: 400px;
    overflow: hidden;
    /* position: absolute; */
    top: 0;
  }

  .close {
    position: absolute;
    bottom: 0;
    width: 500px;
    height: 150px;
    transform: translate(-2px, 40px);
    background-color: rgb(13, 124, 233);
  }

  .social-media {
    position: fixed;
    left: 20px;
    bottom: 0;
    /* transform: translate(-25%, -25%); */
    height: 60vh;
    z-index: 5;
  }

  .social-media .link {
    width: 40px;
    height: 40px;
    background-color: #fcda69;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 1px solid #ffcc23;
    box-shadow: 5px 3px 12px 4px rgba(0, 0, 0, 0.3);
  }

  .hexagon {
    /* top: 30vh;
            left: 40%; */
    position: absolute;
    /* margin: 0 auto; */

    /*To Add effect on the background*/
    background: linear-gradient(to left, DarkBlue, DodgerBlue);

    border-radius: 10px;
    width: 450px;
    height: 260px;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;
    border-top-color: dodgerblue;
    border-bottom-color: dodgerblue;
  }

  /*To create pseudo-class */
  .hexagon:before,
  .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;

    /*To Add effect on the background*/
    background: linear-gradient(to left, DarkBlue, DodgerBlue);

    border-radius: inherit;
    height: 100%;
    width: 100%;
  }

  /* Align them in such a way
          that they form a hexagon */
  .hexagon:before {
    transform: rotate(60deg);
  }
  .hexagon:after {
    transform: rotate(-60deg);
  }
}

@media only screen and (min-width: 1025px) {
  .hero {
    background-color: rgb(13, 124, 233);
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
  }

  .hero-cont {
    flex: 0.4;
  }

  .hero-cont h1 {
    font-size: 60px;
    color: #fff;
    max-width: 300px;
  }

  .hero-cont p {
    color: #fff;
    line-height: 30px;
    /* letter-spacing: 1px; */
    margin-left: 30px;
    position: relative;
    max-width: 400px;
    margin-bottom: 50px;
  }

  .hero-cont p::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: black;
    line-height: 20px;
    color: black;
    display: inline-block;
    position: absolute;
    transform: translateX(-30px);
    top: 12px;
  }

  .hero-img {
    flex: 0.6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100px) scale(1.2);
  }

  .hero-cont h1::before {
    content: "Hello";
    font-size: 9px;
    position: absolute;
    transform: rotate(-45deg) translate(-5px, -20px);
    color: #fcda69;
    letter-spacing: 0.6px;
  }

  .hexagon-mine {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    justify-content: center;
  }
  .hexagon-mine-cont {
    width: 300px;
    height: 200px;
    background-color: #fcda69;
  }

  .hex-img {
    position: absolute;
    transform: translate(0px, -30px);
    height: 400px;
    overflow: hidden;
    /* position: absolute; */
    top: 0;
  }

  .close {
    position: absolute;
    bottom: 0;
    width: 500px;
    height: 150px;
    transform: translate(-2px, 40px);
    background-color: rgb(13, 124, 233);
  }

  .social-media {
    position: fixed;
    left: 20px;
    bottom: 0;
    /* transform: translate(-25%, -25%); */
    height: 60vh;
    z-index: 5;
  }

  .social-media .link {
    width: 40px;
    height: 40px;
    background-color: #fcda69;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 1px solid #ffcc23;
    box-shadow: 5px 3px 12px 4px rgba(0, 0, 0, 0.3);
  }

  .hexagon {
    /* top: 30vh;
        left: 40%; */
    position: absolute;
    /* margin: 0 auto; */

    /*To Add effect on the background*/
    background: linear-gradient(to left, DarkBlue, DodgerBlue);

    border-radius: 10px;
    width: 450px;
    height: 260px;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;
    border-top-color: dodgerblue;
    border-bottom-color: dodgerblue;
  }

  /*To create pseudo-class */
  .hexagon:before,
  .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;

    /*To Add effect on the background*/
    background: linear-gradient(to left, DarkBlue, DodgerBlue);

    border-radius: inherit;
    height: 100%;
    width: 100%;
  }

  /* Align them in such a way
      that they form a hexagon */
  .hexagon:before {
    transform: rotate(60deg);
  }
  .hexagon:after {
    transform: rotate(-60deg);
  }
}
