/* .icon .bg {
  width: 40px;
  height: 40px;
  background-color: #fcda69;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(30px);
  font-weight: 900;
  cursor: pointer;
} */
